.container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0072E5;
}

.heading {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}